.result-view {
    .cards-row {
        display: flex;
        justify-content: center;
        gap: 4vw;
        margin: 1vw 0;
        padding: 0 8vw;

        .card {
            border-radius: 0.6vw;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            width: 18vw;
            height: 31vw;

            font-size: 3vw;
            text-align: center;
            line-height: 1.2;

            user-select: none;
            -webkit-tap-highlight-color: transparent;

            transition: opacity 0.3s ease, transform 0.3s ease;
            opacity: 1;

            &-inner {
                position: relative;
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transform: rotateY(180deg); /* 항상 앞면이 기본 */
                transition: transform 0.6s ease;
            }
            &.flipped .card-inner {transform: rotateY(0);}

            &__face {
                position: absolute;
                inset: 0;
                border-radius: 0.8vw;
                backface-visibility: hidden;
                transform: rotateY(0);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2vw;
                overflow: hidden;
            }
            &__front {
                background: linear-gradient(135deg, #ffffff, #fffefe);
                img { max-height: 100%; }
                padding: 0.5vw 0;
            }
            &__back {
                padding: 0;
                backface-visibility: hidden;
                transform: rotateY(180deg);
                img {  max-height: 100%; }
            }
        }
    }
    .card-details {
        margin: 1rem 0;
        .card-detail {
            background: #fff;
            padding: 0.75rem;
            border-radius: 8px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.06);
            margin-bottom: 0.5rem;
        }
    }
    .combined {
        background: #f5f5f5;
        padding: 1rem;
        border-radius: 8px;
    }
    .actions {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }
}