* {box-sizing: border-box; letter-spacing: -.025em;}
body {margin: 0; padding: 0;}

.app-root {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  &.light {
    background-color: #fff;
    color: #000;
  }

  &.dark {
    background: radial-gradient(circle at top, #1a1f3c, #05060d);
    color: #eee;
  }
}